<div class="projects_modal modal">
    <div class="modal-header">
        <h1 class="dialog-title">Projects</h1>
    </div>
    <div class="modal-body">
        <div class="projects favorite" data-bind="foreach: favoriteProjects, visible: favorites().length > 0">
            <div class="project" data-bind="click: $parent.open">
                <span class="heart" data-bind="click: $parent.favorite, css:{favorite: $parent.isFavorite($data)}"></span>
                <span class="project-icon" data-bind="style:{background: $data.background}">
                    <span class="project-alias" data-bind="text: $parent.getAlias($data.folder), style:{color: $parent.getAliasColor($data)}"></span>
                </span>
                <div class="project-holder">
                    <div class="project-name" data-bind="text: folder"></div>
                    <div>
                        <span>[</span>
                        <span class="project-path muted" data-bind="text: path"></span>
                        <span>]</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="projects" data-bind="foreach: projects">
            <div class="project" data-bind="click: $parent.open">
                <span class="heart" data-bind="click: $parent.favorite, css:{favorite: $parent.isFavorite($data)}"></span>
                <span class="project-icon" data-bind="style:{background: $data.background}">
                    <span class="project-alias" data-bind="text: $parent.getAlias($data.folder), style:{color: $parent.getAliasColor($data)}"></span>
                </span>
                <div class="project-holder">
                    <div class="project-name" data-bind="text: folder"></div>
                    <div>
                        <span>[</span>
                        <span class="project-path muted" data-bind="text: path"></span>
                        <span>]</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="dialog-button btn primary">Close</button>
    </div>
</div>
