<div class="projects_modal modal" data-bind="event:{keydown: keypress}">
    <div class="modal-header">
        <h1 class="dialog-title brproj-file-submodule">
            <span>Projects</span>
        </h1>
    </div>
    <div class="modal-body">
        <div class="filters">
            <input type="text" class="search" placeholder data-bind="value: query, valueUpdate: 'afterkeydown'"/>
            <div class="filter brproj-heart" data-bind="text: favoriteProjects().length, css:{selected: isFavoritesSelected()}, click: selectFavorite"></div>
            <div class="filter brproj-file-submodule" data-bind="text: projects().length, css:{selected: isRegularSelected()}, click: selectRegular"></div>
            <div class="filter brproj-eye" data-bind="visible: false, css:{selected: isHiddenSelected()}, click: selectHidden">0</div>
        </div>
        <div class="border" data-bind="visible: isFavoritesSelected() && favoriteProjects().length > 0">FAVORITE PROJECTS</div>
        <div class="projects favorite" data-bind="foreach: favoriteProjects, visible: favoriteProjects().length > 0 && isFavoritesSelected()">
            <div class="project" data-bind="css:{hover: $data === $parent.hoverProject() },click: $parent.open, event:{mouseover:$parent.mouseover, mouseout:$parent.mouseout}">
                <span title="Make this project a favorite" class="brproj brproj-heart" data-bind="click: $parent.favorite, css:{favorite: $parent.isFavorite($data)}"></span>
                <span title="Options" class="brproj brproj-gear" data-bind="click: $parent.options"></span>
                <span title="Close this project" class="brproj brproj-x" data-bind="click: $parent.remove"></span>
                <!-- ko if: !$parent.isCustomImage($data) -->
                <span class="project-icon" data-bind="style:{ background: $parent.getBackground($data)}">
                    <span class="project-alias" data-bind="text: $parent.getAlias($data.folder), style:{color: $parent.getAliasColor($data)}"></span>
                </span>
                <!-- /ko -->
                <!-- ko if: $parent.isCustomImage($data) -->
                    <img data-bind="attr:{src: $parent.getBackground($data)}" width="36" height="36" />
                <!-- /ko -->
                <div class="project-holder">
                    <div class="project-name">
                        <!-- ko if: $parent.isCustomName($data) -->
                        <span>[</span>
                        <span data-bind="text: $parent.getCustomName($data)"></span>
                        <span>]</span>
                        <!-- /ko -->
                        <span data-bind="text: folder"></span>
                    </div>
                    <div>
                        <span>[</span>
                        <span class="project-path muted" data-bind="text: path"></span>
                        <span>]</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="border" data-bind="visible: isRegularSelected() && projects().length > 0">PROJECTS</div>
        <div class="projects" data-bind="foreach: projects, visible: isRegularSelected()">
            <div class="project" data-bind="css:{hover: $data === $parent.hoverProject() },click: $parent.open, event:{mouseover:$parent.mouseover, mouseout:$parent.mouseout}">
                <span title="Make this project a favorite" class="brproj brproj-heart" data-bind="click: $parent.favorite, css:{favorite: $parent.isFavorite($data)}"></span>
                <span title="Options" class="brproj brproj-gear" data-bind="click: $parent.options"></span>
                <span title="Close this project" class="brproj brproj-x" data-bind="click: $parent.remove"></span>
                <!-- ko if: !$parent.isCustomImage($data) -->
                <span class="project-icon" data-bind="style:{ background: $parent.getBackground($data)}">
                    <span class="project-alias" data-bind="text: $parent.getAlias($data.folder), style:{color: $parent.getAliasColor($data)}"></span>
                </span>
                <!-- /ko -->
                <!-- ko if: $parent.isCustomImage($data) -->
                    <img data-bind="attr:{src: $parent.getBackground($data)}" width="36" height="36" />
                <!-- /ko -->
                <div class="project-holder">
                    <div class="project-name">
                        <!-- ko if: $parent.isCustomName($data) -->
                        <span>[</span>
                        <span data-bind="text: $parent.getCustomName($data)"></span>
                        <span>]</span>
                        <!-- /ko -->
                        <span data-bind="text: folder"></span>
                    </div>
                    <div>
                        <span>[</span>
                        <span class="project-path muted" data-bind="text: path"></span>
                        <span>]</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="dialog-button btn primary">Close</button>
        <button class="dialog-button btn" data-bind="click: openFolder">Open folder</button>
    </div>
</div>
