#project-files-header{
    position: relative;
    padding: 8px 0 9px 34px;
}

#ext-projects-toggle{
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 12px;
    cursor: pointer;
}

.projects_modal{
    width: 90%;
    max-width: 650px !important;
    height: auto;
}

.projects_modal .modal-body{
    max-height: none;
}

.projects_modal .muted{
    transition: 0.25s all;
}

.projects_modal .project{
    width: 100%;
    cursor: pointer;
    padding: 0px 5px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    transition: 0.25s all;
}

.projects_modal .project:hover{
    background: #016DC4;
    color: white;
}

.projects_modal .project:hover .muted{
    color: lightgray;
}

.projects_modal .project:hover .project-icon{
    opacity: 1;
}

.projects_modal .project-icon{
    display: inline-block;
    text-align: center;
    width: 36px;
    height: 36px;
    vertical-align: top;
    opacity: 0.5;
    transition: 0.25s all;
    position: relative;
    top: 0px;
}

.projects_modal .project-holder{
    display: block;
    position: absolute;
    margin-left: 66px;
    top: 0px;
}

.projects_modal .project-alias{
    font-size: 25pt;
    padding-top: 8px;
    display: inline-block;
}

.projects_modal .brproj-heart{
    font-size: 18pt;
    cursor: pointer;
    transition: 0.25s all;
}

.projects_modal .brproj-heart:hover,
.projects_modal .brproj-heart.favorite:hover{
    color: white;
}

.projects_modal .brproj-heart.favorite{
    color: gold;
}


.projects_modal .projects.favorite{
    border-bottom: 1px dotted;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
