#project-files-header{
    position: relative;
    padding: 8px 0 9px 34px;
}

#ext-projects-toggle{
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 12px;
    cursor: pointer;
}

.projects_modal{
    width: 90%;
    max-width: 650px !important;
    height: auto;
}

.projects_modal .modal-body{
    max-height: none;
}

.projects_modal .muted{
    transition: 0.25s all;
}

.projects_modal .project{
    width: 100%;
    cursor: pointer;
    padding: 0px 5px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    transition: 0.25s all;
}

.projects_modal .project:hover{
    background: #016DC4;
    color: white;
}

.projects_modal .project:hover .muted{
    color: lightgray;
}

.projects_modal .project:hover .project-icon{
    opacity: 1;
}

.projects_modal .project:hover .project-holder{
    margin-left: 118px;
}

.projects_modal .project:hover .brproj{
    display: inline-block;
}

.projects_modal .project-icon{
    display: inline-block;
    text-align: center;
    width: 36px;
    height: 36px;
    vertical-align: top;
    opacity: 0.5;
    transition: 0.25s all;
    position: relative;
    top: 0px;
}

.projects_modal .project-holder{
    display: block;
    position: absolute;
    margin-left: 40px;
    transition: 0.25s all;
    top: 0px;
}

.projects_modal .project-alias{
    font-size: 25pt;
    padding-top: 8px;
    display: inline-block;
}

.projects_modal .projects .brproj{
    font-size: 18pt;
    cursor: pointer;
    display: none;
    transition: 0.25s all;
    margin-top: 5px;
    color: gray;
}

.projects_modal .projects .brproj:hover,
.projects_modal .projects .brproj.favorite:hover{
    color: white;
}

.projects_modal .projects img{
    display: inline-block;
    vertical-align: top;
}

.projects_modal .projects .brproj.favorite{
    color: gold;
}

.projects_modal .border{
    border-bottom: 1px dotted;
    margin: 10px 0;
    font-size: 10px;
}

.projects_modal .filter{
    display: inline-block;
    border-bottom: 1px dotted transparent;
    margin: 0 5px;
    cursor: pointer;
    font-size: 14pt;
    padding-bottom: 2px;
    vertical-align: middle;
}

.projects_modal .filter:hover{
    border-bottom: 1px dotted;
}

.projects_modal .filter.selected{
    color: gold;
}

.projects_modal .search{
    padding-left: 22px;
    background-image: url('../images/topcoat-search-20.svg');
    background-repeat: no-repeat;
    background-position: left center;
}

.projects_modal .modal-cell120{
    display: inline-block;
    width: 120px;
}

.projects_modal .modal-cell420{
    display: inline-block;
    width: 420px;
}
